    <!-- Banner -->
      <section id="banner">

        <!--
          ".inner" is set up as an inline-block so it automatically expands
          in both directions to fit whatever's inside it. This means it won't
          automatically wrap lines, so be sure to use line breaks where
          appropriate (<br />).
        -->
        <div class="inner">

          <header>
            <h2>JAKUB LANGR</h2>
          </header>
          <p><strong>Welcome</strong> to<br />
          my personal site about <br />
          data science life.
          <footer>
            <ul class="buttons vertical">
              <li><a href="#main" class="button fit scrolly">I probably don't care...</a></li>
            </ul>
          </footer>

        </div>

      </section>